/* .box {
    height: 100px;
    width: 200px;
    border: 1px solid black;

}
.red {
    background-color: red;
}
.green {
    background-color: green;
    }
.blue {
        background: blue;
    }
.purple {
    background: purple;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clear-both {
    clear: both;
} */

/*global styles*/


/*nav styles*/
body {
    margin: 0;
}
.main-nav {
    height: 75px;
    background: grey;

}
.logo{
    height: 56px;
    padding: 10px;
    }
.nav-list {
    float: right;
    list-style-type: none;
}
li {
    color: white;
    float: left;
    padding: 14px 16px 20px;
}
/*end nav styles*/
