/* 

.box {
}
.red {
    background-color: red;
}
.green {
    background-color: green;
    }
.blue {
        background: blue;
    }
.purple {
    background: purple;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clear-both {
    clear: both;
}

*/

.main-nav {
<<<<<< audio-video
    background-color: blue;
    padding: 0px
=======
    background-color:blue;
>>>>>> develop
}
.nav-list {
    float: right;
    list-style-type: none;
       
}

.no-list-style {
    list-style-type: none;

}
.center {
    float: left;
    padding: 10px;
}

.content {


}
.button {
    border-radius: 10px;
    color: white;
    font-size: 24px;
    padding: 10px;
    
}

.button-success {
    
    border: none white ;
    background:green;
    color: white;
   
    }
.button-danger {
    
    border: none red;
    background: blue;
    color: black;
       
}

.button-small{
    width: 150px:

}

.button-default {
    border: none red;
    background: yellow
    color: black;
        
}

span {
    background-color: yellowgreen
}
.family > span {
    background-color: orange;
}
.second-span ~.first-span{
    color: red;
}
.footer {
    background-color: blue;
    padding: 10px
}

.logo {
    height: 75px;
    width: 75px;
}
.logo:hover {
    font-size: 20px;
    padding: 6px 20px
}
li {color:white;
    float: left;
    padding: 14px 16px;
}

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}
< maps

.social-media {
    height: 75px;
    margin-bottom: 0;

}
a {
    color: white;
    text-decoration: none;
}

iframe {
    height: 600px;
    width: 95%;
    border-width: 5px;
    box-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

}
 family-tree
.map {
    border-width: 5px;
    border-color: black;
}


/* all devices with screen width <=768px  */
@media(max-width: 768px) {
    .button {
        font-size: 18px;
    }
}
/* screen siz= 1024px */
@media(min-width: 1024px) and (max-width: 1024px){
    .button {
        font-size: 20px;
    }
}
/* between 768px to 1024px, set font-size = 22px */


/* 

*/
.content {
    height: 115vh;

} 

 footer {
     background-color: black;
 }
 .social-media {
    height: 50px;
    margin-bottom: 0;
    list-style-type: none;

 }
 a {
     color: white;
     text-decoration: none;
      }

@media(min-width:768px) and (max-width: 1024px){
    .button{
        font-size: 22px;
    }
}