/* 
.red {
    background-color: red;
}
.green {
    background-color: green;
    }
.blue {
        background: blue;
    }
.purple {
    background: purple;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}
.clear-both {
    clear: both;
}

*/

.main-nav {
    background-color: blue;
}
.nav-list {
    float: right;
    list-style-type: none;
       
}
.center {
    float: left;
    padding: 10px;
}
.logo {
    height: 75px;
    width: 75px;
}
.logo:hover {
    font-size: 20px;
    padding: 6px 20px
}
li {color:white;
    float: left;
    padding: 14px 16px;
}

li:hover {
    font-size: 30px;
    padding: 5px 16px;
}

social-media {
    height: 90px;
}

iframe {
    height: 700px;
    width: 65%;
    box-align:center;
    padding: 250px;
}

